body {
  background-image: linear-gradient(#60BFF5,#2E63A4,#AF6528,#FFCE00,#D70000,#000000);
  display: flex;
  justify-content: flex-start; 
  align-items: center;         
  height: 100vh;
  margin: 0;
  flex-direction: column;
  text-align: center;
  font-size: 2.5vw;
  color: white;
  padding-top: 0.5vh; 
}

.hidden {
  display: none;
}

input[type="radio"] {
  transform: scale(2); 
  margin-right: 0.8vw;
  cursor: pointer;
}

button {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  margin: 1vw;
  padding: 1.5vw 3vw; 
  font-size: 2vw; 
  border-radius: 50vw; 
}
